@model TheNoonlife.Models.Restaurant

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<p>
    <img src="@Model.Picture" width="200" height="200" /><br />
    @Model.Name<br />
    @Model.Price<br />

    @using (Html.BeginForm("AddFavoriteRestaurant", "Home"))
    {
<<<<<<< HEAD
        <button type="submit" value="@Model.Name" name="selection">Favorite This Place</button>
=======
        <input type="submit" value="@Model.Id" name="selection" />
>>>>>>> 1b305000c73202a7adc9cc6592b2d5dc1b262f28
    }
</p>
